{% extends 'base.html.twig' %}

{% block body %}
    <section id="errorpage">
        <div class="inner" >

            <h2 class="exception-http">
                HTTP {{ status_code }} <small>{{ status_text }}</small>
            </h2>
        </div>

        <h3>
            {{ 'exception.error'|trans }} <br/><br/>
            <a href="{{ path('louvre') }}"><button style="width: 100%;background-color: #FA1800;" type="button" id="retour" class="btn btn-danger">{{ 'exception.accueil'|trans }}</button></a>

        </h3>

    </section>
{% endblock %}

